* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: linear-gradient(45deg, #8500ff, #5acaff);
    height: 100vh;
}
#container
{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* poner imagen */
    background: url(img/p404.png) rgba(0, 0, 0, 5);
}
#container .contente
{
    max-width: 600px;
    text-align: center;
}
#container .contente h2
{
    font-size: 10vw;
    color: #fff;
    line-height: 1em;
}
#container .contente h4
{
    position: relative;
    font-size: 1.5 em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20 px;
    display: inline-block;
}
#container .contente p
{
    color: #fff;
    font-size: 1.2em;
}
#container .contente a
{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;

}
