body{
    text-align: center;
    background-image:url(../img/errorchet.jpg);
    background-size: cover;
    color: azure;
    }
    .btn-1 {
        background-image: linear-gradient(
            150deg,
            #9500ffcf,
            rgba(0, 153, 255, 0.9),
            #00ddffdd
        );
        border-radius: 8px;
        color: #ffff;
        display: inline-block;
        font-size: 18px;
        padding: 25px;
        cursor: pointer;
        transition: .3s;
        text-decoration: none;
        margin-right: 30px;
        }
        .btn-2 {
            background-image: linear-gradient(
                150deg,
                #9500ffb7,
                rgba(0, 153, 255, 0.754),
                #00ddffc9
            );
            border-radius: 8px;
            color: #ffff;
            display: inline-block;
            font-size: 18px;
            padding: 25px;
            cursor: pointer;
            transition: .3s;
            text-decoration: none;
            margin-right: 30px;
            }